<!-- templates/crear_proveedor.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Crear Proveedor</title>
    <!--usamos la libreria de bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Crear Proveedor</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} <!--se renderiza automaticamente -->
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>
