{% extends "principal.html" %}

{% block contenido %}
    


    {% for cliente in anioMes_empleado %}
        {% include 'clienteEmpleado_anio_mes/contenido_ClienteEmpleado_anio_mes.html' %}

    {#Si no hay clientes que se relacionen con empleado con la fecha de contratacion con el año 2001 y mes 11 mostrará este resultado #}
    {% empty %}
        
        <li>no hay clientes que se relacionen con empleado con la fecha de contratacion con el año 2001 y mes 11.</li>
    {% endfor %}
{% endblock %}




        

