<h4>Clientes y Empleados por Año y Mes</h4>

<li>
    <p>Longitud del campo empleado: {{ cliente.empleado.empleado|length }}</p>
    <p>Nombre del cliente: {{ cliente.cliente }}</p>
     
    <ul>
        <li>
            {# si hay un cliente que se relaciona con empleado mostrara el nombre del empleado #}
            {% if cliente.empleado %}
                <p> Nombre del empleado: {{ cliente.empleado.empleado }} </p>
               
            
            {# En caso contrario mostrara esto #}
            {% else %}
                <p>No hay información del empleado</p>
                
            {% endif %}
        </li>

        
            {#si hay un cliente que se relaciona con empleado con el año 2001 y el mes 11 lo muestra #}
            {% if cliente.empleado.fecha_contratacion %}
            <li>Fecha de contratación del empleado: {{ cliente.empleado.fecha_contratacion|date:"d-m-Y" }}</li>
              
            
            {# En caso contrario muestra este mensaje #}
            {% else %}
                <p> No hay fecha de contratación</p>
               
            {% endif %}
        </li>
    </ul>


    <hr>
</li>