<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleadoatiendecliente</title>
</head>
<body>
    <div>
        <h4>Empleado atiende a cliente</h4>
        <ul>
                        
            {% for tabla in empleadoatiendecliente %}
        
            <ul>
                <li>Nombre del empleado: {{ tabla.empleado.empleado }}</li>
                <li>Nombre del cliente: {{ tabla.cliente }}</li>
                <hr>
            </ul>
    
            {% endfor %}

         
        </ul>
 
    </div>
</body>
</html>