<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos de los clientes</title>
</head>
<body>
    <div>
        <h4>Muestra los pedidos de los clientes</h4>

        {% for pedClient in mostrar_pedido_cliente %}
        
        <ul>
            <li>Nombre del cliente: {{ pedClient.cliente_pedido.nombre }}</li>
            <li>Pedido del cliente: {{ pedClient.pedido }}</li>
            <hr>
        </ul>

    {% endfor %}
 
    </div>
</body>
</html>