<!DOCTYPE html>
{% load static %} <!-- ESTA ETIQUETA SIEMPRE TIENE QUE CARGARSE -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal</title>

    <!-- estas etiquetas van a aplicar el estilo de bootstrap_css -->
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}

    <!-- pendiente por implementar -->
    {% block cabecera_extra %}

    {% endblock %}
  </head>

  <body>
    {% comment %}
    {% endcomment %}

    <!-- Include: añade la plantilla menu -->
    {% include 'Estructura/menu.html' %}

    <div class="container p-2">
      {% block contenido %}

      {% endblock %}
    </div>


    <!-- Include: añade la plantilla del pie -->
    {% include 'Estructura/pie.html' %}
    {% bootstrap_javascript %}
  </body>
</html>
