<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
</head>
<body>

    
</body>
    <h4>Información general de la Empresa de ventas de pieza de motores</h4>
    <ul>
        <li><a href="{% url 'mostrar_clientes' %}">Muestra a todos los clientes</a></li>
        <li><a href="{% url 'mostrar_pedidocliente' %}">Muestra los pedidos de los clientes</a></li>
        <li><a href="{% url 'mostrartodosdatos' %}">Muestra al menos un dato de todas las tablas</a></li>
    
    </ul>
    
</html>