<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
</head>
<body>

    
</body>
    <h4>Información general de la Empresa de ventas de pieza de motores</h4>
    <ul>
        <li><a href="{% url 'mostrar_clientes' %}">Muestra a todos los clientes</a></li>
        <li><a href="{% url 'mostrar_pedidocliente' %}">Muestra los pedidos de los clientes</a></li>
        <li><a href="{% url 'mostrartodosdatos' %}">Muestra al menos un dato de todas las tablas</a></li>
        <li><a href="{% url 'empleadoatiendecliente' '2' %}">Clientes que han sido atendidos por un empleado en particular</a></li>
        <li><a href="{% url 'pedidosPendientesPagados' 'P' 'p' %}">Pedidos que están pendiente por enviar y están pagados</a></li>
        <li><a href="{% url 'mostrar_proveedorpiezamotor' 'a'%}">Muestra las piezas que ha suministrado un proveedor</a></li> <!--se pone "a" porque es un caracter comun que aparece en los seeder-->
        <li><a href="{% url 'detalle_proveedor' 'A' %}">Muestra el nombre y sus atributos del proveedor cumpliendo el re_Path</a></li>
        <li><a href="{% url 'anioMes_empleado' '2001' '11' %}">filtra los clientes basándose en el año y mes de contratación del empleado</a></li>
        <li><a href="{% url 'pedidos_estados' 'ENV' %}">Muestra los pedidos que están enviados, pendientes o entregados ordenados por fecha descendente</a></li>
        <li><a href="{% url 'mediamaxminpedidos' %}">Muestra la media, el maximo y minino de los pedidos</a></li>
        <li><a href="{% url 'clientepedidoinverso' '2' %}">Cliente pedido inverso</a></li>
        <li><a href="{% url 'limite_metodoP' %}">Muestra 2 nombres de la vista metodo pago</a></li>
        <li><a href="{% url 'piezasMotor_pedidos_nulo' %}">vista de los pedidos y las piezas que la cantidad es nula</a></li>
    </ul>
    
</html>